@model AutoShopSystemManagement.Data.Dtos.CreateInfractionModel

@{
    ViewBag.Title = "CrearInfraccion";
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}

<h2>Crear Infraccion</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="user-dashboard" >
        <h1>Agente Torres</h1>
        <div class="row">
            <form role="form" ng-submit="onSend()">
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label>Numero de Placa</label>
                    @Html.TextBoxFor(x=>x.Infraccion.Placa, new {@class= "form-control text-capitalize" })
                    @Html.ValidationMessageFor(x=>x.Infraccion.Placa,"", new { @class = "text-danger" })
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label>Año</label>
                    @Html.TextBoxFor(x=>x.Infraccion.VehicleYear, new {@class= "form-control text-capitalize" ,Value=""})
                    @Html.ValidationMessageFor(x=>x.Infraccion.VehicleYear,"", new { @class = "text-danger" })
                </div>
                <div class="form-group col-lg-4 col-md-6 col-xs-12">
                    <label>Estado</label>
                    <select class="form-control">
                        <option value="0">--Seleccione--</option>
                        @foreach (var e in Model.Estados)
                        {
                            <option value="@e.Id">@e.EstadoName</option>
                        }
                    </select>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                    <label>Uso</label>
                    <select class="form-control">
                        <option value="0">--Seleccione--</option>
                        @foreach (var e in Model.Usos)
                        {
                            <option value="@e.Id">@e.UsoName</option>
                        }
                    </select>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                    <label>Color</label>
                    @Html.TextBoxFor(x=>x.Infraccion.VehicleColor,new{ @class = "form-control" })
                    @Html.ValidationMessageFor(x=>x.Infraccion.VehicleColor,"", new { @class = "text-danger" })
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                    <label>Marca del Vehiculo</label>
                    <select class="form-control">
                        <option value="0">--Seleccione--</option>
                        @foreach (var e in Model.VehicleBrands)
                        {
                            <option value="@e.Id">@e.VehicleBrandName</option>
                        }
                    </select>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                    <label>Modelo</label>
                    @Html.TextBoxFor(x=>x.Infraccion.VehicleModel,new{ @class = "form-control" })
                    @Html.ValidationMessageFor(x=>x.Infraccion.VehicleModel,"", new { @class = "text-danger" })

                </div>
                <hr />
                <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                    <label>Licencia No.</label>
                    @Html.TextBoxFor(x=>x.Infraccion.Persona.LicenseNumber,new{ @class = "form-control text-capitalize" })
                    @Html.ValidationMessageFor(x=>x.Infraccion.Persona.LicenseNumber,"", new { @class = "text-danger" })

                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                    <label>Mes</label>
                    <select class="form-control" ng-model="infraction.Mes">
                        <option value="01 ENERO">01 ENERO</option>
                        <option value="02 FEBRERO">02 FEBRERO</option>
                        <option value="03 MARZO">03 MARZO</option>
                        <option value="04 ABRIL">04 ABRIL</option>
                        <option value="05 MAYO">05 MAYO</option>
                        <option value="06 JUNIO">06 JUNIO</option>
                        <option value="07 JULIO">07 JULIO</option>
                        <option value="08 AGOSTO">08 AGOSTO</option>
                        <option value="09 SEPTIEMBRE">09 SEPTIEMBRE</option>
                        <option value="10 OCTUBRE">10 OCTUBRE</option>
                        <option value="11 NOVIEMBRE">11 NOVIEMBRE</option>
                        <option value="12 DICIEMBRE">12 DICIEMBRE</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                    <label>Estado de Licencia</label>
                    <select class="form-control">
                        <option value="0">--Seleccione--</option>
                        @foreach (var e in Model.Estados)
                        {
                            <option value="@e.Id">@e.EstadoName</option>
                        }
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                    <label>Tipo de Licencia</label>
                    @Html.TextBoxFor(x=>x.Infraccion.Persona.LicenseType,new{ @class = "form-control text-capitalize" })
                    @Html.ValidationMessageFor(x=>x.Infraccion.Persona.LicenseType,"", new { @class = "text-danger" })
                </div>
                <hr />
                <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                    <label>Primer Nombre</label>
                    @Html.TextBoxFor(x=>x.Infraccion.Persona.FirstName,new{ @class="form-control text-capitalize" })
                    @Html.ValidationMessageFor(x => x.Infraccion.Persona.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                    <label>Segundo Nombre</label>
                    @Html.TextBoxFor(x=>x.Infraccion.Persona.MiddleName,new{ @class="form-control text-capitalize" })
                    @Html.ValidationMessageFor(x => x.Infraccion.Persona.MiddleName, "", new { @class = "text-danger" })                
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                    <label>Apellido Paterno</label>
                    @Html.TextBoxFor(x=>x.Infraccion.Persona.LastName1,new{ @class="form-control text-capitalize" })
                    @Html.ValidationMessageFor(x => x.Infraccion.Persona.LastName1, "", new { @class = "text-danger" })                
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                    <label>Apellido Materno</label>
                    @Html.TextBoxFor(x=>x.Infraccion.Persona.LastName2,new{ @class="form-control text-capitalize" })
                    @Html.ValidationMessageFor(x => x.Infraccion.Persona.LastName2, "", new { @class = "text-danger" })               
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 form-group">
                    <label>Domicilio del Conductor</label>
                    @Html.TextBoxFor(x => x.Infraccion.Persona.Direccion, new { @class = "form-control text-capitalize" })
                    @Html.ValidationMessageFor(x => x.Infraccion.Persona.Direccion, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 form-group">
                    <label>Ubicaion de la Falta</label>
                    @Html.TextBoxFor(x => x.Infraccion.Ubicacion, new { @class = "form-control text-capitalize" })
                    @Html.ValidationMessageFor(x => x.Infraccion.Ubicacion, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                    <label>Fecha de Expedicion</label>
                    @Html.TextBoxFor(x => x.Infraccion.DateCreated, new { @class = "form-control text-capitalize" })
                    @Html.ValidationMessageFor(x => x.Infraccion.DateCreated, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 form-group">
                    <label>Hora</label>
                    <input class="form-control text-capitalize" type="text" />
                </div>
                <div class="text-center">
                    <h5>INFRACIONES</h5>
                </div>
                @foreach (var t in Model.InfraccionTypes)
                {
                    <div class="col-lg-4 col-md-4 col-xs-6 form-group">
                        <input class="checkbox-inline" type="checkbox" value="@t.Id" /> @t.TipoDeInfraccionName
                    </div>
                }
                <div class="col-lg-12 col-md-12 col-xs-12 form-group">
                    <label>Otro Concepto</label>
                    @Html.TextBoxFor(x => x.Infraccion.OtherConcept, new { @class = "form-control text-capitalize" })
                    @Html.ValidationMessageFor(x => x.Infraccion.OtherConcept, "", new { @class = "text-danger" })                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 form-group">
                    <label>Foto de Prueba</label>
                    <input class="form-control" type="file" id="file1" multiple />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Someter Infracción">
                </div>
            </form>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
