@model IEnumerable<AutoShopSystemManagement.Data.Entities.TipoDeInfraccion>

@{
    ViewBag.Title = "ListarConceptos";
    Layout = "~/Views/Shared/_LayoutSystem.cshtml";
}

<h2>ListarConceptos</h2>

<p>
    @Html.ActionLink("Create New", "AgregarTipoInfraccion", null,new   {@class= "btn btn-primary" })
</p>

<div class="row">
    <div class="col-lg-1 col-md-1 col-xs-1"><span class="text-center">No#</span></div>
    <div class="col-lg-6 col-md-6 col-xs-6"><h5 class="text-center">Tipo de Infracción</h5></div>
    <div class="col-lg-2 col-md-2 col-xs-2"><h5 class="text-center">Multiplicador</h5></div>
    <div class="col-lg-2 col-md-2 col-xs-2"><h5 class="text-center">Costo</h5></div>
</div>
@foreach (var item in Model) {    
<div class="row">
        <div class="col-lg-1 col-md-1 col-xs-1"><span class="text-center">@item.Id</span></div>
        <div class="col-lg-6 col-md-6 col-xs-6"><span class="text-center">@item.TipoDeInfraccionName</span></div>
        <div class="col-lg-2 col-md-2 col-xs-2"><spam class="text-center">@item.Multiplicador</spam></div>
    <div class="col-lg-2 col-md-2 col-xs-2"><spam class="text-center">@(item.Multiplicador*50)</spam></div>
    </div>
}


